Repository mitodl/ol-infrastructure, pull requests merged in 2022-12, with the labels that each got.

#1235 Minor changes from testing findings for OVS.
  src/bilder/images/odl_video_service/deploy.py
  src/bilder/images/odl_video_service/files/nginx_with_shib.conf.tmpl
  src/bilder/images/odl_video_service/files/nginx_wo_shib.conf.tmpl
  src/bridge/secrets/odl_video_service/data.qa.yaml
  src/ol_infrastructure/applications/odl_video_service/__main__.py
  src/ol_infrastructure/components/aws/auto_scale_group.py
Labels: DevOps, Needs Review, SaltStack Deprecation

#1251 feat: Add pipeline definition for deploying xqueue service
  src/bridge/settings/openedx/accessors.py
  src/concourse/pipelines/open_edx/xqueue/__init__.py
  src/concourse/pipelines/open_edx/xqueue/docker_packer_pulumi_pipeline.py
  src/concourse/pipelines/open_edx/xqueue/meta.py
  src/ol_infrastructure/applications/xqueue/__main__.py
Labels: Infrastructure, Open edX

#1250 refactor: Use edx version matrix for Pulumi deploys
  src/bilder/images/edxapp/custom_install.pkr.hcl
  src/bilder/images/edxapp/deploy.py
  src/bilder/images/edxapp/edxapp_base.pkr.hcl
  src/bilder/images/edxapp/lib.py
  src/bilder/images/edxapp/packer_vars/maple.pkrvars.hcl
  src/bilder/images/edxapp/packer_vars/master.pkrvars.hcl
  src/bilder/images/edxapp/packer_vars/nutmeg.pkrvars.hcl
  src/bilder/images/edxapp/packer_vars/olive.pkrvars.hcl
  src/bilder/images/edxapp/prebuild.py
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.CI.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.QA.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.CI.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.QA.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitxonline.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitxonline.QA.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.xpro.CI.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.xpro.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.xpro.QA.yaml
  src/ol_infrastructure/applications/edxapp/__main__.py
Labels: Open edX

#1255 chore: Remove xqueue from edx-platform AMI
  src/bilder/images/edxapp/custom_install.pkr.hcl
  src/bilder/images/edxapp/deploy.py
  src/bilder/images/edxapp/files/edxapp_web_residential_playbook.yml
  src/bilder/images/edxapp/templates/edxapp/mitx-staging/xqueue.yml.tmpl
  src/bilder/images/edxapp/templates/edxapp/mitx/xqueue.yml.tmpl
Labels: Open edX

#1218 Run edx-notes-api as a service for our edX installations
  dockerfiles/open_edx/Dockerfile.notes_api
  src/bilder/components/traefik/models/traefik_file_provider.py
  src/bilder/components/traefik/models/traefik_static.py
  src/bilder/components/traefik/steps.py
  src/bilder/images/edx_notes/BUILD
  src/bilder/images/edx_notes/__init__.py
  src/bilder/images/edx_notes/deploy.py
  src/bilder/images/edx_notes/edx_notes.pkr.hcl
  src/bilder/images/edx_notes/files/.env.tmpl
  src/bilder/images/edx_notes/files/docker-compose.yaml
  src/bilder/images/edx_notes/files/edx_notes_settings.yaml.tmpl
  src/bridge/lib/magic_numbers.py
  src/bridge/secrets/edx_notes/mitx-ci.yaml
  src/bridge/secrets/edx_notes/mitx-production.yaml
  src/bridge/secrets/edx_notes/mitx-qa.yaml
  src/bridge/secrets/edx_notes/mitx-staging-ci.yaml
  src/bridge/secrets/edx_notes/mitx-staging-production.yaml
  src/bridge/secrets/edx_notes/mitx-staging-qa.yaml
  src/bridge/secrets/edx_notes/mitxonline-production.yaml
  src/bridge/secrets/edx_notes/mitxonline-qa.yaml
  src/bridge/secrets/edx_notes/xpro-ci.yaml
  src/bridge/secrets/edx_notes/xpro-production.yaml
  src/bridge/secrets/edx_notes/xpro-qa.yaml
  src/bridge/settings/openedx/version_matrix.py
  src/concourse/pipelines/open_edx/edx_notes/__init__.py
  src/concourse/pipelines/open_edx/edx_notes/docker_packer_pulumi_pipeline.py
  src/concourse/pipelines/open_edx/edx_notes/meta.py
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.mitx-staging.CI.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.mitx-staging.Production.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.mitx-staging.QA.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.mitx.CI.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.mitx.Production.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.mitx.QA.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.xpro.CI.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.xpro.Production.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.applications.edxnotes.xpro.QA.yaml
  src/ol_infrastructure/applications/edx_notes/Pulumi.yaml
  src/ol_infrastructure/applications/edx_notes/__main__.py
  src/ol_infrastructure/applications/edx_notes/edx_notes_policy.hcl
  src/ol_infrastructure/applications/odl_video_service/__main__.py
  src/ol_infrastructure/components/aws/auto_scale_group.py
  src/ol_infrastructure/infrastructure/aws/policies/__main__.py
  src/ol_infrastructure/lib/aws/ec2_helper.py
  src/ol_infrastructure/lib/consul.py
Labels: Open edX, work in progress, xPRO

#1280 Docker Logging
  src/bilder/images/docker_baseline_ami/templates/vector/docker_logs.yaml.j2
  src/ol_infrastructure/applications/edx_notes/__main__.py
  src/ol_infrastructure/applications/odl_video_service/Pulumi.applications.odl_video_service.CI.yaml
  src/ol_infrastructure/applications/odl_video_service/__main__.py
  src/ol_infrastructure/applications/redash/__main__.py
  src/ol_infrastructure/applications/tika/__main__.py
  src/ol_infrastructure/applications/xqueue/__main__.py
Labels: DevOps, Infrastructure, Monitoring and Alerting, Tech Debt, InProgress, work in progress

#1281 logging cleanup
  src/bilder/components/vector/templates/host_metrics.yaml
  src/bilder/images/concourse/templates/vector/concourse_logs.yaml
  src/bilder/images/consul/templates/vector/consul_metrics.yaml
  src/bilder/images/vault/templates/vector/vault_metrics.yaml
  src/bilder/images/vector_log_proxy/templates/vector/vector-log-proxy.yaml.j2
Labels: Monitoring and Alerting

#1282 Implementing a log filter to pickup raft_backup logs from vault servers.
  src/bilder/images/vault/templates/vector/vault_logs.yaml
Labels: bug, DevOps, Monitoring and Alerting
