Repository mitodl/ol-infrastructure, pull requests merged in 2022-07, with the labels that each got.

#915 Updated 404 page
  src/ol_infrastructure/applications/ocw_site/404.html
Labels: Needs Review

#924 Build and deploy Dagster AMI
  src/bilder/images/dagster/dagster.pkr.hcl
  src/bilder/images/dagster/deploy.py
  src/bilder/images/dagster/files/.env.tmpl
  src/bilder/images/dagster/files/htpasswd.tmpl
  src/bilder/images/dagster/files/nginx.conf.tmpl
  src/bilder/images/dagster/files/pipelines/edx-pipeline/mitxonline_edx.yaml.tmpl
  src/bilder/images/dagster/files/pipelines/edx-pipeline/residential_edx.yaml.tmpl
  src/bilder/images/dagster/files/pipelines/edx-pipeline/xpro_edx.yaml.tmpl
  src/bilder/images/dagster/templates/docker-compose.yaml.j2
  src/bridge/lib/versions.py
  src/ol_infrastructure/applications/dagster/Pulumi.applications.dagster.Production.yaml
  src/ol_infrastructure/applications/dagster/Pulumi.applications.dagster.QA.yaml
  src/ol_infrastructure/applications/dagster/__main__.py
  src/ol_infrastructure/applications/dagster/dagster_server_policy.hcl
  src/ol_infrastructure/components/services/vault.py
Labels: Data, DevOps

#907 Create a single pipeline template for MFEs
  .dockerignore
  .pre-commit-config.yaml
  3rdparty/python/default.lock
  BUILD
  Dockerfile
  concourse/teams/mitx-staging.yaml
  concourse/teams/mitxonline.yaml
  pants.toml
  pipelines/open_edx/docker_baseline_ami.yaml
  pipelines/open_edx/forum_docker_build_pipeline.yaml
  pyproject.toml
  src/bilder/components/docker/BUILD
  src/concourse/BUILD
  src/concourse/__init__.py
  src/concourse/lib/BUILD
  src/concourse/lib/models.py
  src/concourse/lib/resource_types.py
  src/concourse/lib/resources.py
  src/concourse/pipelines/__init__.py
  src/concourse/pipelines/open_edx/__init__.py
  src/concourse/pipelines/open_edx/mfe/BUILD
  src/concourse/pipelines/open_edx/mfe/__init__.py
  src/concourse/pipelines/open_edx/mfe/meta.py
  src/concourse/pipelines/open_edx/mfe/pipeline.py
  src/concourse/pipelines/open_edx/mfe/values.py
Labels: Open edX

#964 Opensearch permissions fix #2
  src/ol_infrastructure/infrastructure/aws/opensearch/bootstrap_security_config.py
Labels: bug, DevOps

#965 feat: Migrate Fastly management for edX into Pulumi
  src/bridge/secrets/fastly.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.CI.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.QA.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.CI.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.QA.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitxonline.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitxonline.QA.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.xpro.CI.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.xpro.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.xpro.QA.yaml
  src/ol_infrastructure/applications/edxapp/__main__.py
  src/ol_infrastructure/lib/fastly.py
Labels: DevOps, Open edX

#966 Try 3 at fixing the opensearch permissions.
  src/ol_infrastructure/infrastructure/aws/opensearch/bootstrap_security_config.py
Labels: bug, DevOps

#963 Redash -> Docker/AMI/PyInfra/Pulumi stack
  pipelines/misc_docker_builds/build-redash-image.yaml
  src/bilder/images/redash/deploy.py
  src/bilder/images/redash/files/.env.tmpl
  src/bilder/images/redash/files/nginx.conf.tmpl
  src/bilder/images/redash/redash.pkr.hcl
  src/bilder/images/redash/templates/docker-compose.yaml.j2
  src/bridge/lib/versions.py
  src/ol_infrastructure/applications/redash/Pulumi.applications.redash.Production.yaml
  src/ol_infrastructure/applications/redash/Pulumi.applications.redash.QA.yaml
  src/ol_infrastructure/applications/redash/README.md
  src/ol_infrastructure/applications/redash/__main__.py
  src/ol_infrastructure/applications/redash/redash_server_policy.hcl
Labels: Data, Needs Review, Infrastructure

#983 Renaming the tika stacks to match convention
  src/ol_infrastructure/applications/tika/Pulumi.applications.tika_server.CI.yaml
  src/ol_infrastructure/applications/tika/Pulumi.applications.tika_server.Production.yaml
  src/ol_infrastructure/applications/tika/Pulumi.applications.tika_server.QA.yaml
Labels: bug, DevOps, Infrastructure, Tech Debt

#894 Add Github auth to vault
  poetry.lock
  pyproject.toml
  src/bridge/lib/magic_numbers.py
  src/ol_infrastructure/components/services/vault.py
  src/ol_infrastructure/substructure/vault/approle/__main__.py
  src/ol_infrastructure/substructure/vault/auth/__main__.py
  src/ol_infrastructure/substructure/vault/policies/approle/bootcamps.hcl
  src/ol_infrastructure/substructure/vault/policies/github/admin.hcl
  src/ol_infrastructure/substructure/vault/policies/github/software_engineer.hcl
Labels: DevOps

#985 Md/issue 899
  src/bilder/components/docker/docker_compose_steps.py
  src/bilder/components/vector/models.py
  src/bilder/components/vector/steps.py
  src/bilder/images/airbyte/files/docker-compose.yaml
  src/bilder/images/docker_baseline_ami/deploy.py
  src/bilder/images/docker_baseline_ami/templates/vector/docker_logs.yaml.j2
  src/ol_infrastructure/applications/airbyte/__main__.py
  src/ol_infrastructure/applications/dagster/__main__.py
  src/ol_infrastructure/applications/forum/__main__.py
  src/ol_infrastructure/applications/redash/__main__.py
Labels: DevOps, Needs Review, Infrastructure, Monitoring and Alerting, Tech Debt
