Repository mitodl/ol-infrastructure, pull requests merged in 2022-06, with the labels that each got.

#867 OCW Fastly config
  src/bridge/lib/magic_numbers.py
  src/ol_infrastructure/applications/ocw_site/404.html
  src/ol_infrastructure/applications/ocw_site/503.html
  src/ol_infrastructure/applications/ocw_site/__main__.py
  src/ol_infrastructure/applications/ocw_site/redirect_dict
  src/ol_infrastructure/applications/ocw_site/snippets/clean_response_headers_and_handle_404_on_delivery.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/departments_table.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/legacy_ocw_pages_redirect.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/redirects.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/reroute_redirects.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/s3_bucket_proxying.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/set_correct_content_type_for_S3_assets.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/ttl_setup.vcl
Labels: DevOps

#869 Added query engine permissions and role
  src/ol_infrastructure/infrastructure/aws/data_warehouse/__main__.py
Labels: Data

#880 Fix to address Issue 871
  src/ol_infrastructure/applications/ocw_site/snippets/redirects.vcl
Labels: DevOps

#882 Use aws imdsv2 in scripts
  pipelines/infrastructure/scripts/generate_aws_config_from_instance_profile.sh
  src/bilder/images/vault/files/vault_env_script.sh
Labels: DevOps

#881 refactor: Use scoped security groups instead of CIDR for DB access
  .pre-commit-config.yaml
  src/ol_infrastructure/applications/concourse/__main__.py
  src/ol_infrastructure/applications/dagster/__main__.py
  src/ol_infrastructure/applications/edxapp/__main__.py
  src/ol_infrastructure/applications/mitxonline/__main__.py
  src/ol_infrastructure/infrastructure/aws/network/Pulumi.infrastructure.aws.network.CI.yaml
  src/ol_infrastructure/infrastructure/aws/network/Pulumi.infrastructure.aws.network.Production.yaml
  src/ol_infrastructure/infrastructure/aws/network/Pulumi.infrastructure.aws.network.QA.yaml
  src/ol_infrastructure/infrastructure/aws/network/__main__.py
Labels: enhancement

#896 Redirect /high-school/ to zendesk article
  src/ol_infrastructure/applications/ocw_site/snippets/redirects.vcl
  src/ol_infrastructure/applications/ocw_site/snippets/reroute_redirects.vcl
Labels: DevOps

#901 fix: Fix robots.txt for OCW production
  src/ol_infrastructure/applications/ocw_site/__main__.py
  src/ol_infrastructure/applications/ocw_site/snippets/robots.production.txt
  src/ol_infrastructure/applications/ocw_site/snippets/robots.txt
Labels: OCW

#902 fix: Add explicit status for robots.txt response
  src/bridge/lib/magic_numbers.py
  src/ol_infrastructure/applications/ocw_site/__main__.py
Labels: OCW

#866 Airbyte Initial Draft
  pipelines/infrastructure/ami_builds/airbyte_server_ami_new_releaase.yaml
  src/bilder/components/docker/docker_compose_steps.py
  src/bilder/components/docker/files/docker-compose.service
  src/bilder/components/hashicorp/consul/models.py
  src/bilder/components/pomerium/files/config.yaml.tmpl
  src/bilder/components/pomerium/models.py
  src/bilder/components/pomerium/steps.py
  src/bilder/components/pomerium/templates/compose-pomerium.yaml.j2
  src/bilder/images/airbyte/airbyte.pkr.hcl
  src/bilder/images/airbyte/deploy.py
  src/bilder/images/airbyte/files/SOURCE.md
  src/bilder/images/airbyte/files/docker-compose.yaml
  src/bilder/images/airbyte/files/nginx_htpasswd.tmpl
  src/bilder/images/airbyte/files/nginx_pomerium.conf.tmpl
  src/bilder/images/airbyte/files/nginx_proxy.conf
  src/bilder/images/airbyte/templates/.env.tmpl
  src/bilder/images/docker_baseline_ami/deploy.py
  src/bilder/images/variables.pkr.hcl
  src/bilder/lib/linux_helpers.py
  src/bridge/lib/magic_numbers.py
  src/bridge/lib/versions.py
  src/ol_infrastructure/applications/airbyte/Pulumi.applications.airbyte.Production.yaml
  src/ol_infrastructure/applications/airbyte/Pulumi.applications.airbyte.QA.yaml
  src/ol_infrastructure/applications/airbyte/Pulumi.yaml
  src/ol_infrastructure/applications/airbyte/README.md
  src/ol_infrastructure/applications/airbyte/__init__.py
  src/ol_infrastructure/applications/airbyte/__main__.py
  src/ol_infrastructure/applications/airbyte/airbyte_server_policy.hcl
  src/ol_infrastructure/substructure/consul/Pulumi.substructure.consul.data.Production.yaml
  src/ol_infrastructure/substructure/consul/Pulumi.substructure.consul.data.QA.yaml
Labels: Data, DevOps

#903 config: update external checkout redirect url to cart/add
  src/bilder/images/edxapp/templates/edxapp/mitxonline/common_values.yml.tmpl
Labels: Needs Review

#906 add redirect for YouTube comment policy
  src/ol_infrastructure/applications/ocw_site/redirect_dict
Labels: OCW

#921 feat: Add maintenance override for edxapp DNS
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx-staging.Production.yaml
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.Production.yaml
  src/ol_infrastructure/applications/edxapp/__main__.py
Labels: Open edX
