Repository mitodl/ol-infrastructure, pull requests merged in 2022-09, with the labels that each got.

#1025 Added redirects to handle course collections for legacy courses
  src/ol_infrastructure/applications/ocw_site/redirect_dict
Labels: Waiting on Author

#1028 Create reusable functions for building infrastructure Concourse pipelines
  pipelines/infrastructure/ami_builds/airbyte_server_ami_new_release.yaml
  src/concourse/README.md
  src/concourse/lib/constants.py
  src/concourse/lib/jobs/BUILD
  src/concourse/lib/jobs/infrastructure.py
  src/concourse/lib/models/fragment.py
  src/concourse/lib/models/resource.py
  src/concourse/lib/resource_types.py
  src/concourse/lib/resources.py
  src/concourse/pipelines/infrastructure/airbyte/packer_pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/aws/pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/cloud_custodian/pipeline.py
  src/concourse/pipelines/infrastructure/concourse/packer_pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/consul/packer_pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/grafana_cloud/pipeline.py
  src/concourse/pipelines/infrastructure/tika/packer_pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/vault/packer_pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/vector_log_proxy/packer_pulumi_pipeline.py
Labels: DevOps, Infrastructure

#1059 Airbyte vault kvv2
  src/bilder/components/pomerium/files/config.yaml.tmpl
  src/bilder/images/airbyte/files/nginx_htpasswd.tmpl
  src/bilder/images/airbyte/files/nginx_pomerium.conf.tmpl
  src/bilder/images/airbyte/templates/.env.tmpl
  src/bridge/secrets/airbyte/data.production.yaml
  src/bridge/secrets/airbyte/data.qa.yaml
  src/ol_infrastructure/applications/airbyte/__main__.py
  src/ol_infrastructure/applications/ocw_studio/__main__.py
Labels: Data, Infrastructure

#1063 add zip and unzip packages to ocw-course-publisher
  dockerfiles/ocw/node-hugo/Dockerfile
Labels: Needs Review

#1067 fix: Override upgrade button link for MITx Online production
  src/bilder/images/edxapp/templates/edxapp/mitxonline/common_values.yml.tmpl
Labels: MITx Online

#990 Provision transitional elasticsearch clusters for MIT OPEN
  src/bridge/secrets/opensearch/opensearch.open.ci.yaml
  src/bridge/secrets/opensearch/opensearch.open.production.yaml
  src/bridge/secrets/opensearch/opensearch.open.qa.yaml
  src/ol_infrastructure/infrastructure/aws/opensearch/Pulumi.infrastructure.aws.opensearch.open.CI.yaml
  src/ol_infrastructure/infrastructure/aws/opensearch/Pulumi.infrastructure.aws.opensearch.open.Production.yaml
  src/ol_infrastructure/infrastructure/aws/opensearch/Pulumi.infrastructure.aws.opensearch.open.QA.yaml
  src/ol_infrastructure/infrastructure/aws/opensearch/README.md
  src/ol_infrastructure/infrastructure/aws/opensearch/__main__.py
  src/ol_infrastructure/infrastructure/aws/opensearch/bootstrap_security_config_6.8.py
  src/ol_infrastructure/infrastructure/aws/opensearch/migrate_data.sh
Labels: DevOps, Infrastructure, SaltStack Deprecation

#1069 minor redash image bug fix
  src/bilder/images/redash/deploy.py
Labels: bug, Data, DevOps

#1108 feat: Automatically create a read replica for production DBs
  src/ol_infrastructure/applications/edxapp/__main__.py
  src/ol_infrastructure/applications/ocw_studio/__main__.py
  src/ol_infrastructure/lib/stack_defaults.py
Labels: Data
