Repository mitodl/ol-infrastructure, pull requests merged in 2023-03, with the labels that each got.

#1370 feat: add accessibility links for xpro and mitxonline
  src/bilder/images/edxapp/templates/edxapp/mitxonline/common_values.yml.tmpl
  src/bilder/images/edxapp/templates/edxapp/xpro/common_values.yml.tmpl
  src/concourse/pipelines/open_edx/mfe/pipeline.py
  src/concourse/pipelines/open_edx/mfe/values.py
Labels: Needs Review

#1376 config: Add database create permission for Trino and dbt workflows
  src/ol_infrastructure/infrastructure/aws/data_warehouse/__main__.py
Labels: Data

#1385 Keycloak Clustering / Cache configuration
  src/bilder/images/keycloak/deploy.py
  src/bilder/images/keycloak/files/.env.tmpl
  src/bilder/images/keycloak/files/cache-ispn-jdbc-ping.xml
  src/bilder/images/keycloak/files/docker-compose.yaml
  src/ol_infrastructure/applications/keycloak/__main__.py
Labels: enhancement, DevOps, Needs Review, Infrastructure

#1388 fix: fix typo in privacy url
  src/concourse/pipelines/open_edx/mfe/values.py
Labels: Needs Review

#38 Vault PKI implementation
  pyproject.toml
  src/concourse/pipelines/infrastructure/vault/packer_pulumi_pipeline.py
  src/ol_infrastructure/components/services/vault.py
  src/ol_infrastructure/substructure/vault/pki/Pulumi.infrastructrue.vault.pki.Dev.yaml
  src/ol_infrastructure/substructure/vault/pki/Pulumi.infrastructrue.vault.pki.Production.yaml
  src/ol_infrastructure/substructure/vault/pki/Pulumi.substructure.vault.pki.operations.CI.yaml
  src/ol_infrastructure/substructure/vault/pki/Pulumi.substructure.vault.pki.operations.Production.yaml
  src/ol_infrastructure/substructure/vault/pki/Pulumi.substructure.vault.pki.operations.QA.yaml
  src/ol_infrastructure/substructure/vault/pki/README.md
  src/ol_infrastructure/substructure/vault/pki/__main__.py
Labels: enhancement, DevOps, Needs Review, Infrastructure

#1392 fix: docker-baseline-ami consul-template version specification missing
  src/bilder/images/docker_baseline_ami/deploy.py
Labels: bug, DevOps

#1395 issue 1354
  src/bilder/images/redash/deploy.py
  src/bilder/images/redash/files/update_datasources.py
Labels: bug, Data, DevOps, Infrastructure

#1399 feat: add trademark text for xpro learning MFE
  src/concourse/pipelines/open_edx/mfe/values.py
Labels: Needs Review

#1420 protect pki resources from accidents.
  src/ol_infrastructure/substructure/vault/pki/__main__.py
Labels: enhancement, DevOps, Needs Review, Infrastructure
