Repository mitodl/ol-infrastructure, pull requests merged in 2023-02, with the labels that each got.

#1341 Standarized container build process for OVS
  src/concourse/pipelines/infrastructure/ovs/docker_packer_pulumi_pipeline.py
Labels: DevOps, Maintenance, Infrastructure

#1340 techtv.mit.edu and ttv.mit.edu certificate fix
  src/bilder/images/odl_video_service/deploy.py
  src/bridge/secrets/odl_video_service/data.ci.yaml
  src/bridge/secrets/odl_video_service/data.production.yaml
  src/bridge/secrets/odl_video_service/data.qa.yaml
Labels: bug, DevOps, Maintenance, Infrastructure

#1344 Small OVS pipeline + stack fix
  src/concourse/pipelines/infrastructure/ovs/docker_packer_pulumi_pipeline.py
  src/ol_infrastructure/applications/odl_video_service/__main__.py
Labels: bug, DevOps, Needs Review

#1345 Pipeline secret dependency updates
  src/concourse/pipelines/infrastructure/airbyte/packer_pulumi_pipeline.py
  src/concourse/pipelines/infrastructure/redash/packer_pulumi_pipeline.py
  src/concourse/pipelines/open_edx/edx_notes/docker_packer_pulumi_pipeline.py
  src/concourse/pipelines/open_edx/edx_platform/packer_pulumi_pipeline.py
Labels: bug, DevOps, Infrastructure

#1359 Docker logging config enhancements
  src/bilder/images/docker_baseline_ami/deploy.py
Labels: bug, enhancement, DevOps

#1358 Issue 1351
  src/bilder/images/edxapp/deploy.py
Labels: bug, DevOps, Open edX

#1365 issue 1363
  src/bilder/images/consul/deploy.py
  src/ol_infrastructure/applications/ocw_site/__main__.py
Labels: Needs Review, OCW

#1374 Added GCP creds for data sensor
  src/bilder/images/dagster/deploy.py
  src/bilder/images/dagster/files/pipelines/edx-pipeline/edxorg_gcp.yaml.tmpl
Labels: Data

#1375 Forum -> MongoDB timeout fix
  dockerfiles/openedx-forum/Dockerfile
  src/bilder/images/forum/files/forum.env.j2
  src/bridge/settings/openedx/types.py
  src/concourse/pipelines/open_edx/forum/docker_packer_pulumi_pipeline.py
Labels: bug, DevOps, Open edX
