Repository mitodl/ol-infrastructure, pull requests merged in 2023-04, with the labels that each got.

#1439 Fixed a few issues with keycloak
  src/bilder/images/keycloak/files/cache-ispn-jdbc-ping.xml
  src/bridge/secrets/keycloak/data.qa.yaml
  src/ol_infrastructure/applications/keycloak/Pulumi.applications.keycloak.QA.yaml
  src/ol_infrastructure/applications/keycloak/__main__.py
  src/ol_infrastructure/applications/keycloak/keycloak_server_policy.hcl
Labels: bug, DevOps, Infrastructure

#1440 Redis memory usage issues
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitx.Production.yaml
  src/ol_infrastructure/components/aws/cache.py
  src/ol_infrastructure/lib/stack_defaults.py
Labels: enhancement, DevOps, Monitoring and Alerting

#1457 Updating the default SSD storage for databases from gp2 to gp3
  src/ol_infrastructure/components/aws/database.py
Labels: enhancement, DevOps, Infrastructure

#1461 custodian job to cleanup orphaned packer sgs
  cloud_custodian/cleanup_packer_security_groups.yaml
  cloud_custodian/tag_packer_security_groups_for_cleanup.yaml
  src/concourse/pipelines/infrastructure/cloud_custodian/pipeline.py
  src/ol_infrastructure/components/aws/fargate_service.py
Labels: DevOps, Maintenance, Infrastructure

#1463 Adding lat and long data to fastly logs shipped to both grafana and s3
  src/ol_infrastructure/lib/fastly.py
Labels: Data, Monitoring and Alerting

#1464 feat: Update residential CI to Palm with how-to doc
  docs/how_to/openedx/release_upgrades.md
  src/bridge/settings/openedx/types.py
  src/bridge/settings/openedx/version_matrix.py
Labels: Open edX, product:infrastructure

#1472 cloud custodian bug fix
  cloud_custodian/tag_packer_security_groups_for_cleanup.yaml
Labels: bug, DevOps

#1474 Corrected the github private key for ocw_studio_qa
  src/bridge/secrets/ocw_studio/ocw_studio.qa.yaml
Labels: bug, DevOps, OCW

#1485 Vector_log_proxy hotfix
  src/bilder/images/vector_log_proxy/files/traefik/dynamic_config.yaml
  src/ol_infrastructure/infrastructure/vector_log_proxy/__main__.py
Labels: bug, DevOps, Infrastructure
