Repository mitodl/ol-infrastructure, pull requests merged in 2024-01, with the labels that each got.

#2035 Correct the sheet id for xpro enrollment change.
  src/bridge/secrets/xpro/secrets.production.yaml
Labels: bug, DevOps, product:xpro

#2041 Software Version metadata tagging for AMIs
  docs/how_to/tagging_amis_with_installed_software_metadata.md
  src/bilder/images/edxapp_v2/custom_install.pkr.hcl
  src/bilder/images/edxapp_v2/deploy.py
  src/bilder/images/tika/deploy.py
  src/bilder/images/tika/tika.pkr.hcl
  src/bilder/lib/ami_helpers.py
Labels: documentation, enhancement, DevOps, Needs Review, Infrastructure

#2045 fix: missing aws region for post-processor calls to aws-cli
  docs/how_to/tagging_amis_with_installed_software_metadata.md
  src/bilder/images/edxapp_v2/custom_install.pkr.hcl
  src/bilder/images/tika/tika.pkr.hcl
Labels: bug, DevOps, Needs Review

#2073 config: disable new problem editor for MITx Online QA
  src/ol_infrastructure/applications/edxapp/Pulumi.applications.edxapp.mitxonline.QA.yaml
Labels: Needs Review

#2029 Created a utility script for running the saml pull management command…
  dockerfiles/openedx-edxapp/Dockerfile
  dockerfiles/openedx-edxapp/Earthfile
  dockerfiles/openedx-edxapp/settings/saml_pull.not_py
  src/bilder/images/edxapp_v2/files/docker-compose.yaml.tmpl
Labels: enhancement, Needs Review, Open edX

#2046 Build and publish pipeline for `open-edx-plugins` repository
  src/ol_concourse/lib/resource_types.py
  src/ol_concourse/lib/resources.py
  src/ol_concourse/pipelines/open_edx/open_edx_plugins/__init__.py
  src/ol_concourse/pipelines/open_edx/open_edx_plugins/build_publish_plugins.py
Labels: enhancement, DevOps, Needs Review, Open edX

#2047 Create new Keycloak realm
  src/ol_infrastructure/substructure/keycloak/__main__.py
Labels: DevOps

#2075 Move superset to data platform
  src/ol_infrastructure/substructure/keycloak/__main__.py
  src/ol_superset/pythonpath/superset_config.py
Labels: Data, DevOps

#2076 Md/issue 1948
  dockerfiles/openedx-edxapp/BUILDING.md
  dockerfiles/openedx-edxapp/Dockerfile
  dockerfiles/openedx-edxapp/Earthfile
  dockerfiles/openedx-edxapp/pip_package_lists/master/mitxonline.txt
  dockerfiles/openedx-edxapp/pip_package_lists/quince/mitx-staging.txt
  dockerfiles/openedx-edxapp/pip_package_lists/quince/mitx.txt
  dockerfiles/openedx-edxapp/pip_package_lists/quince/xpro.txt
  src/bilder/images/edxapp_v2/templates/edxapp/mitx-staging/common_values.yml.tmpl
  src/bilder/images/edxapp_v2/templates/edxapp/mitx/common_values.yml.tmpl
  src/bilder/images/edxapp_v2/templates/edxapp/mitxonline/common_values.yml.tmpl
  src/bilder/images/edxapp_v2/templates/edxapp/xpro/common_values.yml.tmpl
  src/bridge/secrets/edxapp/mitx-staging.ci.yaml
  src/bridge/secrets/edxapp/mitx-staging.production.yaml
  src/bridge/secrets/edxapp/mitx-staging.qa.yaml
  src/bridge/secrets/edxapp/mitx.ci.yaml
  src/bridge/secrets/edxapp/mitx.production.yaml
  src/bridge/secrets/edxapp/mitx.qa.yaml
  src/bridge/secrets/edxapp/mitxonline.production.yaml
  src/bridge/secrets/edxapp/mitxonline.qa.yaml
  src/bridge/secrets/edxapp/xpro.ci.yaml
  src/bridge/secrets/edxapp/xpro.production.yaml
  src/bridge/secrets/edxapp/xpro.qa.yaml
Labels: DevOps, Needs Review, Monitoring and Alerting, Open edX

#2078 Revert "Md/issue 1948"
  dockerfiles/openedx-edxapp/BUILDING.md
  dockerfiles/openedx-edxapp/Dockerfile
  dockerfiles/openedx-edxapp/Earthfile
  dockerfiles/openedx-edxapp/pip_package_lists/master/mitxonline.txt
  dockerfiles/openedx-edxapp/pip_package_lists/quince/mitx-staging.txt
  dockerfiles/openedx-edxapp/pip_package_lists/quince/mitx.txt
  dockerfiles/openedx-edxapp/pip_package_lists/quince/xpro.txt
  src/bilder/images/edxapp_v2/templates/edxapp/mitx-staging/common_values.yml.tmpl
  src/bilder/images/edxapp_v2/templates/edxapp/mitx/common_values.yml.tmpl
  src/bilder/images/edxapp_v2/templates/edxapp/mitxonline/common_values.yml.tmpl
  src/bilder/images/edxapp_v2/templates/edxapp/xpro/common_values.yml.tmpl
  src/bridge/secrets/edxapp/mitx-staging.ci.yaml
  src/bridge/secrets/edxapp/mitx-staging.production.yaml
  src/bridge/secrets/edxapp/mitx-staging.qa.yaml
  src/bridge/secrets/edxapp/mitx.ci.yaml
  src/bridge/secrets/edxapp/mitx.production.yaml
  src/bridge/secrets/edxapp/mitx.qa.yaml
  src/bridge/secrets/edxapp/mitxonline.production.yaml
  src/bridge/secrets/edxapp/mitxonline.qa.yaml
  src/bridge/secrets/edxapp/xpro.ci.yaml
  src/bridge/secrets/edxapp/xpro.production.yaml
  src/bridge/secrets/edxapp/xpro.qa.yaml
Labels: DevOps, Needs Review, Monitoring and Alerting, Open edX

#2080 Md/issue 2074 - MITOpen QA
  poetry.lock
  pyproject.toml
  src/bridge/secrets/heroku/secrets.mitx-devops.yaml
  src/bridge/secrets/heroku/secrets.odl-devops.yaml
  src/ol_infrastructure/applications/mitopen/Pulumi.applications.mitopen.QA.yaml
  src/ol_infrastructure/applications/mitopen/__main__.py
  src/ol_infrastructure/lib/heroku.py
Labels: enhancement, DevOps, SaltStack Deprecation, product:mit-open

#2114 Md/issue 2074 - mitopen-production
  docs/how_to/heroku_config_vars.md
  src/bridge/secrets/mitopen/secrets.production.yaml
  src/ol_infrastructure/applications/mitopen/Pulumi.applications.mitopen.Production.yaml
  src/ol_infrastructure/applications/mitopen/Pulumi.applications.mitopen.QA.yaml
Labels: DevOps, SaltStack Deprecation, product:mit-open

#2119 can-kick-fix: lease duration for pulumi-heroku-configvars
  src/ol_infrastructure/applications/mitopen/__main__.py
  src/ol_infrastructure/lib/vault.py
Labels: bug, DevOps, SaltStack Deprecation

#2129 fix: 21L-705S14 ocw redirect
  src/ol_infrastructure/applications/ocw_site/redirect_dict.json
Labels: Needs Review, OCW

#2130 Md/gh ratelimit fixes
  src/bridge/secrets/concourse/operations.ci.yaml
  src/bridge/secrets/concourse/operations.production.yaml
  src/bridge/secrets/concourse/operations.qa.yaml
  src/ol_concourse/lib/jobs/infrastructure.py
  src/ol_concourse/lib/resources.py
Labels: enhancement, DevOps

#2131 Manage ocw-studio DB restore creds with pulumi
  src/bridge/secrets/concourse/operations.qa.yaml
Labels: enhancement, DevOps, product:ocw
